body {
  font-family: 'Segoe UI', sans-serif;
  background: #F9F9F9;
  margin: 30px;
  color: #5C4033;
}

.login-box {
  max-width: 350px;
  margin: 100px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #A4C639;
  border: none;
  color: white;
  cursor: pointer;
}

.dashboard {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.card {
  background: white;
  padding: 20px;
  flex: 1;
  min-width: 200px;
  border-left: 6px solid #C29B40;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.modulo {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  margin-bottom: 40px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th {
  background: #5C4033;
  color: white;
  padding: 10px;
}

td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

